<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="script/menuToggle.js"></script>

<link href="css/common.css" rel="stylesheet">
<style type="text/css">
.formWrap {
	width: 600px;
	background-color: #eee;
	padding: 35px;
	margin: auto;
}
</style>
</head>
<body>
<div class="wrap">
	<nav class="py-2 bg-light border-bottom">
			<div class="container d-flex flex-wrap justify-content-end">
				<ul class="nav">
					<li class="nav-item" th:if="${loginAdmin} == null"><a
						href="loginForm" class="nav-link link-dark px-2">로그인</a></li>
					<li class="nav-item" th:if="${loginAdmin} != null"><a
						href="logout" class="nav-link link-dark px-2">로그아웃</a></li>
					<li class="nav-item" th:if="${loginAdmin} == null"><a href="joinForm"
						class="nav-link link-dark px-2">회원가입</a></li>
					<li class="nav-item" th:if="${loginAdmin} != null"><a href="myPage"
						class="nav-link link-dark px-2">마이페이지</a></li>
					<li class="nav-item dropdown" th:if="${loginAdmin} == '1'">
			          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            관리
			          </a>
			          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
			            <li><a class="dropdown-item" href="addForm">신규도서 추가</a></li>
			            <li><a class="dropdown-item" href="admin_bookList">도서목록 관리</a></li>
			            <li><a class="dropdown-item" href="#">대출·반납 관리</a></li>
			            <li><a class="dropdown-item" href="admin_regBookListBefore">희망도서 신청 관리</a></li>
			          </ul>
			        </li>
				</ul>
			</div>
		</nav>
		<header class="py-3 border-bottom bg-navy" id="mainMenu">
			<div class="container d-flex flex-wrap justify-content-end">
				<a href="main"
					class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
					<img alt="메인아이콘" src="svg/main_icon.svg" class="mainIcon">
				</a>
				<ul class="nav">
					<li class="nav-item"><a href="#"
						class="nav-link link-light px-4 active" aria-current="page">자료검색</a></li>
					<li class="nav-item"><a href="#" class="nav-link link-light">신청·참여</a></li>
				</ul>
			</div>
		</header>
		<div class="py-3 sub-menu" id="subMenu" style="display: none">
			<div class="container d-flex flex-wrap justify-content-end">
				<ul class="nav">
					<li class="nav-item"><a href="admin_bookList"
						class="nav-link px-2 active" aria-current="page">도서목록 조회</a></li>
					<li class="nav-item"><a href="user_regBook" class="nav-link">희망도서 신청</a></li>
				</ul>
			</div>
		</div>
	<div class="content">
		<div class="formWrap">
			<h2>회원정보수정</h2>
			<form action="updateUser" method="post">
				<div class="mb-3 row">
					<label for="inputPassword" class="col-sm-3 col-form-label">아이디</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="id" th:value="${original.id}" readonly>
					</div>
				</div>
				<!-- <input type="password" class="form-control" name="password" th:value="${original.password}"> -->
				<div class="mb-3 row">
					<label for="inputPassword" class="col-sm-3 col-form-label">이름</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="name" th:value="${original.name}" readonly>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputPassword" class="col-sm-3 col-form-label">전화번호</label>
					<div class="col-sm-9">
						<input type="tel" class="form-control" name="phone" th:value="${original.phone}">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputPassword" class="col-sm-3 col-form-label">이메일</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" name="email" th:value="${original.email}">
					</div>
				</div>
				<input type="submit" value="확인">
			</form>
		</div>
	</div>
</div>
</body>
</html>